@media only screen
and (max-width : 1100px){

.btn_menu_mobile{display: block; position: absolute; right: 10px; top: 50px; font-size: 30px; color:#294481 }

header{width:100%; height:auto; float:left;  padding-bottom:10px; min-height: inherit;}
.content2{width:100%; position: inherit min-height:inherit; }
.content{width:90%; position: inherit min-height:inherit; margin-left: 5%}
.content_meio{width:100%; min-height:inherit; }

.logo{margin-top:28px; width: 100%; text-align: center;}
.logo img{width:auto; height:auto;}

.menu{display: none}
.coisas_topo{display: none}
.banners{width:100%; height: auto}


.bloco1{width:100%; height:auto; min-height: 300px; float:left; background-color:#3557A6; border-radius:8px; margin-top:-40px;  position:relative; z-index:99999999; -webkit-transition-duration:.3s}
.bloco2{width:100%; height:auto; min-height: 300px; float:left; background-color:#3B61B9;border-radius:8px; margin-top:10px;  position:relative; z-index:99999999; -webkit-transition-duration:.3s}
.bloco3{width:100%; height:auto; min-height: 300px; float:left; background-color:#3557A6;border-radius:8px; margin-top:10px;  position:relative; z-index:99999999; -webkit-transition-duration:.3s}
.bloco4{width:100%; height:auto; min-height: 300px; float:left; background-color:#3557A6; border-radius:8px;  border-radius:8px; margin-top:10px;  position:relative; z-index:99999999; -webkit-transition-duration:.3s}

.mais_detalhes{opacity:1;}
.bloco1:hover{height:inherit; margin-top:-40px}
.bloco2:hover{height:inherit; margin-top:10px}
.bloco3:hover{height:inherit; margin-top:10px}
.bloco4:hover{height:inherit; margin-top:10px}

.cinza{background-color:#FFF; }

.logo_escrita{width:calc(100%); height:auto; float:left; text-align: center; margin-bottom: 40px}

.coisas_footer_primeira{width:100%; height:auto; float:left; text-align: center; }
.coisas_footer_segunda{width:calc(100%); height:auto; float:left; margin-top:30px; margin-left: 0; text-align: center;}
#brow{display: none;}
#onj{display: none;}


.escrita_fim{width:100%; height:auto; float:left; margin-top:25px; color:#FFF; font-size:1.5em; text-align:center}
.escrita_fim2{width:100%; height:auto; float:left; margin-top:10px; color:#FFF; font-size:1.5em; text-align:center}

.img_footer_coisas{font-size:36px; color:#FFF; float:left; width: 100%; text-align: center; margin-bottom: 10px}
.escrita_footer_coisas{font-size:1.6em; color:#FFF; float:left; margin-left:0px; width: 100%; font-weight:400; text-transform:uppercase; margin-top:0px; text-align: center;}

input.news_campo{width:calc(100% - 10px); height:40px; border:0; float:left; margin-top:10px; padding-left:0px; padding-left: 10px}
.bt{width:100%; height:40px; background-color:#1B3E5A; color:#FFF; text-align:center; font-size:20px; float:left; margin-top:0px; line-height:38px; text-align: center; -webkit-transition-duration:.5s}


/*************************************
MENU LATERAL
*************************************/
.men_lateral{width:calc(100% - 15px);  color:#FFF; font-weight: 300; float: left;   -webkit-transition-duration:.5s}
.menu_lateral{width:calc(100%); padding-left:15px;  font-size:16px; float: left;  line-height: 50px; color: #FFF; border-bottom:1px solid #15223E;}

.sub-mobile{width: 100%; margin-left: -15px; height: auto; display: table; font-size:16px; color: #FFF; float: left; display: none; }
.subx{width:calc(100%); padding-left:40px; height: 50px; font-size:16px; color: #FFF;  line-height: 50px; color: #FFF; border-bottom:1px solid #15223E;}

.sub-mobile a{color: #FFF}
.subx a{color: #FFF}

.mik{float: right; margin-right: 30px}


.content_meio{width:90%; height:auto; min-height:100px; margin-left: 5%; display:table; margin:auto; position:relative; padding-bottom:40px}
.tp_interna{display: none;}

.sa{width:100%; float:left; margin-bottom:20px; text-align:center; margin-top:0px}
.titulos2{width:100%; height:auto; float:left; color:#434445; font-size:3em; margin-top:30px; font-weight:700; text-transform:uppercase; text-align:center}

.sa2{width:100%; float:left; margin-bottom:20px; text-align:center; margin-top:20px}


.arqx22{width:calc(100% - 35px); margin-right:0px; border:1px solid #e1e1e1; background-color:#f8f8f8; text-align:center; float:left; padding:20px; font-size:16px; margin-top:10px}

.berc1{width:100%; height:auto; float:left; margin-top:40px}
.berc2{width:100%; height:auto; float:left; margin-left:0; margin-top:40px}

.bgh{width: 100%}

.parc1{width:100%; height:auto; float:left; margin-top:5px}
.parc2{width:100%; height:auto; float:left; margin-left:0; margin-top:5px}

.noti1{width:100%; height:auto; float:left; margin-top:20px; margin-bottom: 20px}
.noti2{width:100%; height:auto; float:left; margin-left:0; margin-top:20px; margin-bottom: 20px}

.jkl{width: 100%; float: left}
.jkl2{width: 100%; float: left; margin-top: 50px}

.img_nn{width:auto; height:auto; max-width:100%; padding-right:0px; padding-bottom:15px}
